*.pyc
*.swp
*.zip
*.rar
*.via
*.tmp
*.err
*.ini
*.tar
*.txt
*.cnf
*.pyo
*.py[cod]
*.pkl
*.log
*~
@*
*env
.DS_Store
.vscode
.python-version
data

# IDEs
.idea
*.swp
__pycache__
!requirements.txt
mail.py
zabbix_api.py
ansicmd.py
wx/scripts/*
tmp.txt
media/*
*_config.py
wxbot/migrations/*
